body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div[id^="font-picker"] .dropdown-button,
div[id^="font-picker"] ul {
  background: #ffffff !important;
}
div[id^="font-picker"] ul li button:hover, div[id^="font-picker"] ul li button:focus,
div[id^="font-picker"] .dropdown-button:hover, div[id^="font-picker"] .dropdown-button:focus {
  background: #d4e5ff !important;
}
div[id^="font-picker"] ul li button.active-font {
  background: #d4e5ff !important;
}